image: Visual Studio 2017
version: pending.{build}-{branch}
max_jobs: 1
skip_branch_with_pr: true
skip_tags: true

# Clone only 50 latest commits
clone_depth: 50

environment:
  GIT_DAEMON_PATH:   "C:\\Program Files\\Git\\mingw64\\libexec\\git-core"
  CYGWIN_GIT_PATH:   "C:\\cygwin\\bin;%GIT_DAEMON_PATH%"
  CYGWIN64_GIT_PATH: "C:\\cygwin64\\bin;%GIT_DAEMON_PATH%"
  APPVEYOR_ARTIFACT_UPLOAD_TIMEOUT: 60
  PYTHON: "C:\\Python36-x64"
  PYTHON_VERSION: "3.6"
  PYTHON_ARCH: "64"
  GIT_PATH: "%GIT_DAEMON_PATH%"
  SENTRY_ORG: "etcher"
  GH_TOKEN:
    secure: H9M/aPctMSk1+0AWe/l5D0U3oXto404/4UYiPMCECpjy0llgb8cBKTRyr20UDWdX
  GH_MAIL:
    secure: hyFFOoK6WbxtLxy2jOGlOPbRJ33Al8E1B0QeT+qUqJ8=
  PYPI_PWD:
    secure: sVfnGb1FQyKRJg6kD9c6aQ==
  TWINE_USERNAME:
    secure: X+bBVQdggCzIpfy5LX85tg==
  TWINE_PASSWORD :
    secure: sVfnGb1FQyKRJg6kD9c6aQ==
  SENTRY_AUTH_TOKEN:
    secure: aSyv1ixwt4NsnUs5LXXvu/sAmAetjIuofGIiJ7w7AOm8Q/d5TjzH8spimc35YmEEcIYulc5rhduVrpIiSIvrjCCLidvTscI5W8/TMAE6tB8=

matrix:
  fast_finish: true

# cache:
#   - C:\Users\appveyor\AppData\Local\pip\cache -> Pipfile
#   - C:\ProgramData\chocolatey\bin -> appveyor.yml
#   - C:\ProgramData\chocolatey\lib -> appveyor.yml


build_script:
  - cmd: echo dummy
